@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'League Spartan', sans-serif;
}

h1 {
    font-size: 50px;
    line-height: 64px;
    color: #222;
}

h2 {
    font-size: 46px;
    line-height: 54px;
    color: #222;
}

h4 {
    font-size: 20px;
    color: #222;
}

h6 {
    font-size: 16px;
    color: #465b52;
    margin: 15px 0 20px 0;
}

body {
    width: 100%;
}


span {
    color: #606063;
}

.section-p1 {
    padding: 40px 80px;
}

.section-m1 {
    margin: 40px 0
}

button.normal {
    font-size: 14px;
    font-weight: 600;
    padding: 15px 30px;
    color: #000;
    background-color: #fff;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    outline: none;
    transition: 0.2s all ease;
}

/* NavBar */
#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
    background: #dbcfa2;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;
}

#header img {
    width: 100px;
}

#navbar {
    display: flex;
    align-self: center;
    justify-content: center;
}

#navbar li {
    list-style: none;
    padding: 0 20px;
    position: relative;
}

#navbar li a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: #1a1a1a;
    transition: 0.3s ease;
}

#navbar li a:hover,
#navbar li a.active {
    color: #567189;
}

#navbar li a.active::after,
#navbar li a:hover::after {
    content: "";
    width: 30%;
    height: 2px;
    background-color: #567189;
    position: absolute;
    bottom: -4px;
    left: 20px;
}

#mobile {
    display: none;
}

#close {
    display: none;
}

/* Header Display*/
#hero {
    background-image: url("img/hero4.png");
    background-size: cover;
    background-position: center;
    height: 90vh;
    width: 100%;
    padding: 0 80px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
}

#hero h4 {
    padding-bottom: 15px;
}

#hero h1 {
    color: #567189;
}

#hero button {
    background-image: url("img/button.png");
    background-color: transparent;
    color: #567189;
    border: 0;
    padding: 15px 80px 30px 80px;
    background-repeat: no-repeat;
    cursor: pointer;
    font-weight: 700;
    font-size: 15px;
    margin-top: 20px;
}

#hero button:hover {
    transform: scale(0.98);
    transition: 0.3s all ease;
}

/* Feature Section */

#feature {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

#feature .fe-box {
    width: 180px;
    text-align: center;
    padding: 15px 15px;
    box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.03);
    border: 1px solid #cce7d0;
    border-radius: 4px;
    margin: 15px 0;
}

#feature .fe-box:hover {
    box-shadow: 10px 20px 34px rgba(70, 62, 221, 0.1);
    transform: translateY(-10px);
    transition: 0.3s ease;
}

#feature .fe-box h6 {
    padding: 9px 8px 6px 8px;
    line-height: 1;
    border-radius: 4px;
    color: #088178;
    background-color: #fddde4;
}

#feature .fe-box:nth-child(2) h6 {
    background-color: #cdebbc;
}

#feature .fe-box:nth-child(3) h6 {
    background-color: #d1e8f2;
}

#feature .fe-box:nth-child(4) h6 {
    background-color: #cdd4f8;
}

#feature .fe-box:nth-child(5) h6 {
    background-color: #f6dbf6;
}

#feature .fe-box:nth-child(6) h6 {
    background-color: #fff2e5;
}

/*  Product Section */

#product1 {
    text-align: center;
}

#product1 .pro {
    width: 23%;
    min-width: 250px;
    padding: 10px 12px;
    border: 1px solid #cce7d0;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
    margin: 15px 0;
    position: relative;
}

#product1 .pro:hover {
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.06);
    transform: scale(0.98);
    transition: 0.2s all ease;
}

#product1 .pro img {
    width: 100%;
    border-radius: 20px;
}

#product1 .pro .des {
    text-align: start;
    padding: 10px 0;
}

#product1 .pro .des span {
    color: #606063;
    font-size: 12px;
}

#product1 .pro .des h5 {
    padding-top: 7px;
    color: #1a1a1a;
    font-size: 14px;
}

#product1 .pro .des i {
    font-size: 12px;
    color: rgba(243, 181, 25);
}

#product1 .pro .des h4 {
    padding-top: 7px;
    font-size: 15px;
    font-weight: 700;
    color: #567189;
    ;
}

#product1 .pro a {
    width: 40px;
    height: 40px;
    background-color: #e8f6ea;
    line-height: 40px;
    border-radius: 50px;
    font-weight: 500;
    color: #567189;
    position: absolute;
    border: 1px solid #cce7d0;
    bottom: 20px;
    right: 10px;
}

#product1 .pro-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 20px;
    flex-wrap: wrap;
}


#reviews {
    background-color: #F6F6F6;
}

#reviews h2 {
    text-align: center;
    margin-bottom: 20px;
}

#reviews .review {
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
    justify-content: center;
}

#reviews .rev-details {
    max-width: 400px;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
}

#reviews .rev-details:hover {
    transform: scale(0.9);
    transition: 0.2s all ease;
}

#reviews .rev-header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

#reviews .rev-header i {
    color: orange;
    font-size: 16px;
    margin: 0px 2px;
}

#reviews p {
    font-size: 14px;
    line-height: 1.5rem;
}

#reviews img {
    width: 60px;
    border-radius: 50%;
}

#reviews .rev-middle {
    height: 120px;
}

#reviews .rev-bottom {
    margin-top: 10px;
}

/* Banner Section */

#banner {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background: url("img/banner/b2.jpg");
    width: 100%;
    height: 40vh;
    background-size: cover;
    background-position: center;
}

#banner h2 {
    color: #fff;
    font-size: 30px;
    padding: 10px 0;
}

#banner h4 {
    color: #fff;
    font-size: 16px;
}

#banner h2 span {
    color: red;
}

button.normal:hover {
    color: white;
    background-color: #CFB997;
}

/* Card Banner */
#card-banner {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

#card-banner .banner-box {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    align-items: flex-start;
    background: url("img/banner/b17.jpg");
    min-width: 640px;
    height: 50vh;
    background-size: cover;
    background-position: center;
    padding: 30px;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.06);
    background-repeat: no-repeat;
}

#card-banner .banner-box2 {
    background: url("img/banner/b10.jpg");
}

#card-banner h4 {
    color: white;
    font-size: 20px;
    font-weight: 300;
}

#card-banner h2 {
    color: white;
    font-size: 28px;
    font-weight: 800;
}

#card-banner span {
    color: wheat;
    font-size: 14px;
    font-weight: 500;
    padding-bottom: 15px;
}

#card-banner .btn {
    font-size: 14px;
    font-weight: 600;
    padding: 15px 30px;
    color: #fff;
    background-color: rgb(168, 69, 171);
    border-radius: 4px;
    cursor: pointer;
    border: none;
    outline: none;
    transition: 0.2s all ease;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.06);
}

#card-banner .btn:hover {
    background-color: #fff;
    color: rgb(168, 69, 171);
    transition: 0.3s all ease;
    transform: scale(0.9);
}

/* Newsletter */
#newsletter {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    background-image: url("img/banner/b14.png");
    background-repeat: no-repeat;
    background-position: 20% 30%;
    background-color: #041e42;
}

#newsletter h4 {
    font-size: 22px;
    font-weight: 700;
    color: #fff;
}

#newsletter p {
    font-size: 14px;
    font-weight: 600;
    color: #818ea0;
    padding-top: 15px;
}

#newsletter span {
    color: #ffbd27;
}

#newsletter .form {
    display: flex;
    width: 40%;
}

#newsletter input {
    height: 3.5rem;
    padding: 0 1.25em;
    font-size: 14px;
    width: 100%;
    border: 1px solid transparent;
    border-radius: 4px;
    outline: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

#newsletter button {
    background-color: #088178;
    color: #fff;
    white-space: nowrap;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

/* Footer */

footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

footer .col {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
}

footer .col img {
    width: 200px;
}

footer .logo {
    margin-bottom: 30px;
}

footer p {
    font-size: 13px;
    margin: 0 0 8px 0;
}

footer h4 {
    font-size: 14px;
    padding-bottom: 20px;
}

footer a {
    font-size: 13px;
    text-decoration: none;
    color: #222;
    margin-bottom: 10px;
}

footer .follow {
    display: flex;
    flex-wrap: wrap;

}

footer .icon {
    padding-left: 10px;

}

footer .follow i {
    color: #465b52;
    padding-right: 4px;
    cursor: pointer;
}

footer .install .row img {
    border: 1px solid #088178;
    border-radius: 6px;
}

footer .install img {
    margin: 10px 0 15px 0;
}

footer .follow i:hover,
footer a:hover {
    color: #088178;

}

.copyright {
    text-align: center;
    width: 100%;
}

/* Single Product details */
#product-details {
    display: flex;
    margin-top: 20px;
}

#product-details .product-img {
    width: 30%;
    margin-right: 70px;
}

.small-img-grp {
    display: flex;
    justify-content: space-between;
}

.small-img-col {
    flex-basis: 24%;
    cursor: pointer;
}

#product-details .product-info {
    width: 50%;
    padding-top: 30px;
}


#product-details .product-info h4 {
    padding: 30px 0 10px 0;
}

#product-details .product-info h2 {
    font-size: 36px;
    margin-bottom: 10px;
}

#product-details .product-info select {
    display: block;
    padding: 5px 10px;
    margin-bottom: 20px;
}

#product-details .product-info input {
    width: 50px;
    height: 47px;
    padding-left: 10px;
    font-size: 16px;
    margin-right: 10px;
}

#product-details .product-info input:focus {
    outline: none;
}

#product-details .product-info button {
    background-color: #088178;
    color: white;
    margin-bottom: 10px;
}

#product-details .product-info button:hover {
    transform: scale(0.9);
    transition: 0.3s all ease;
}

#product-details .product-info span {
    line-height: 25px;
}

#product-details .product-info span ul {
    margin-left: 20px;
}

/* About Container */

#about-cont {
    display: flex;
    align-items: center;
}

#about-cont img {
    width: 50%;
    border-radius: 10px;
    height: auto;
}

#about-cont div {
    padding-left: 40px;
}

.about-txt p {
    line-height: 1.4;
    color: #606063;
    font-size: 16px;
}

#about-vid {
    text-align: center;
}

#about-vid .vid video {
    width: 90%;
    height: 100%;
    margin: 30px auto 0 auto;
    border-radius: 20px;
}


/* Contact Container */

.contact-details {
    display: flex;
}

.details {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 20px;
}

.details li {
    list-style: none;
    display: flex;
    padding: 10px 0;
}

.details li i {
    font-size: 14px;
    padding-right: 22px;
}

.contact-details .map {
    width: 55%;
    height: 400px;
}

.contact-details .map iframe {
    width: 100%;
    height: 100%;
}

.contact-form {
    background-color: #cdd4f8;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 75vh;
}


.contact-form span {
    color: #1a1a1a;
    font-size: 18px;
    font-weight: 600;

}

.contact-form h2 {
    color: #041e42;
    font-weight: bold;
    margin: 10px 0;
}

.contact-form input {
    width: 60%;
    padding: 20px;
    background-color: white;
    border-radius: 3px;
    border: none;
    outline: none;
    color: black;
    font-size: 18px;
    margin: 8px 0;
}

.contact-form button {
    margin-top: 20px;
}

.contact-form button:hover {
    transform: scale(0.9);
    transition: 0.3s all ease;
}


.cart-details {
    position: fixed;
    top: 0;
    right: -150%;
    width: 360px;
    min-height: 100vh;
    background-color: #dbcfa2;
    padding: 20px;
    box-shadow: -2px 40px 60px rgba(0, 0, 0, 0.1);
    transition: 0.3s all ease;
}

.cart-details.active {
    right: 0;
}

.cart-title {
    text-align: center;
    font-size: 1.5rem;
    font-weight: 600;
    margin-top: 2rem;
}

.cart-box {
    display: grid;
    grid-template-columns: 32% 40% 18%;
    align-items: center;
    gap: 1rem;
    margin-top: 1rem;
}

.cart-price {
    font-size: 16px;
    font-weight: 600;
    color: #041e42;
}

.cart-box input {
    padding: 5px;
    width: 55px;
}

.cart-img {
    width: 100px;
    height: 100px;
    object-fit: contain;
    padding: 10px;
}

.detail-box {
    display: grid;
    text-align: left;
    align-items: center;
    row-gap: 0.5rem;
}

.cart-quantity {
    border: 1px solid black;
    outline-color: #041e42;
    width: 2.5rem;
    text-align: center;
    font-size: 1rem;
}

.cart-details p {
    font-size: 14px;
    font-weight: 500;
}

.cart-details i {
    font-size: 20px;
    cursor: pointer;
    color: #041e42;
}

.total {
    display: flex;
    justify-content: flex-end;
    border-top: 1px solid #041e42;
    margin-top: 1.5rem;
    gap: 10px;
    padding: 10px 5px;
}

.total-title {
    font-size: 1rem;
    font-weight: 600;
}

.total-price {
    color: #041e42;
    font-weight: 800;
}

.btn-buy {
    display: flex;
    margin: 1.5rem auto 0 auto;
    box-shadow: -2px 40px 60px rgba(0, 0, 0, 0.1);
}

#close-cart {
    position: absolute;
    top: 1rem;
    right: 1.5rem;
    color: #041e42;
    cursor: pointer;
}



/* Media Screen */

@media (max-width: 820px) {
    .section-p1 {
        padding: 10px;
    }

    #navbar {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        position: fixed;
        top: 0;
        right: -200px;
        height: 100vh;
        width: 200px;
        background-color: #dbd2b3;
        box-shadow: 0 40px 60px rgba(0, 0, 0, 0.1);
        padding: 80px 0 0 10px;
    }

    #navbar.active {
        right: 0px;
        transition: 0.3s all ease;
    }

    #navbar li {
        margin-bottom: 25px;
    }

    #mobile {
        display: flex;
        align-items: center;
    }

    #feature {
        justify-content: center;
        gap: 20px;
    }

    #mobile i {
        color: #1a1a1a;
        font-size: 22px;
        padding-left: 20px;
    }

    #close {
        display: block;
        position: absolute;
        top: 30px;
        right: 30px;
        color: #000;
        font-size: 22px;
    }

    #lg-bag {
        display: none;
    }

    #hero {
        height: 70vh;
        padding: 0 80px;
        background-position: top 30% right 30%;
    }

    #product1 .pro-container {
        justify-content: center;
        gap: 20px;
    }

    #banner {
        height: 30vh;
    }

    #card-banner {
        justify-content: center;
    }

    #card-banner .banner-box {
        min-width: 90%;
        height: 50vh;
        align-items: flex-end;
        padding: 20px;
    }

    #card-banner .banner-box2 {
        margin-top: 10px;
        background-size: cover;
        background-repeat: no-repeat;
    }

    #newsletter {
        padding: 40px 20px;
    }

    #newsletter .form {
        width: 70%;
    }

    #product-details {
        display: flex;
        flex-direction: column;
    }

    #product-details .product-img {
        width: 80%;
        margin: auto;
    }

    #product-details .product-info {
        width: 80%;
        margin: auto;
    }

    .about-txt p {
        line-height: 1;
        color: #606063;
        font-size: 14px;
    }

    #about-cont {
        flex-direction: column;
    }

    #about-cont img {
        width: 70%;
        height: 45vh;
    }

    #about-cont div {
        padding-left: 0;
        width: 80%;
        text-align: center;
        margin: auto;
    }

    .contact-details {
        flex-direction: column;
    }

    .contact-details .map {
        width: 100%;
        height: 400px;
    }

    .contact-form {
        height: 90vh;
    }

    .contact-form input {
        width: 80%;
    }

    #collection .coll {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #collection .col-txt-upper {
        padding: 0px;
        margin-bottom: 0;
        width: 100%;
        text-align: center;
    }

    #collection .col-lower {
        display: none;
    }

    #collection .col-txt-upper h2 {
        font-size: 1.5rem;
    }

    #reviews .rev-details {
        max-width: 250px;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
    }

    #reviews p {
        line-height: 1rem;
    }

    #reviews .review {
        gap: 10px
    }

}

@media (max-width: 500px) {
    #header {
        padding: 10px 30px;
    }

    h2 {
        font-size: 32px;
    }

    h1 {
        font-size: 38px;
    }

    #hero {
        padding: 0 20px;
        background-position: 60%;
    }

    .section-p1 {
        padding: 10px;
    }

    #feature .fe-box {
        width: 180px;
        margin: 0 0 10px 0;
    }

    #product1 .pro {
        width: 100%;
    }

    #banner {
        height: 40vh;
    }

    #card-banner {
        justify-content: center;
    }


    #card-banner .banner-box {
        min-width: 100%;
        height: 25vh;
        align-items: flex-end;
        padding: 15px;
    }

    #card-banner .btn {
        font-size: 12px;
        font-weight: 500;
        padding: 12px 20px;
    }

    #card-banner .banner-box2 {
        background-position: left 9% top 50%;
        background-size: cover;
        background-repeat: no-repeat;
    }

    #newsletter {
        padding: 40px 20px;
    }

    #newsletter .form {
        width: 100%;
    }

    footer .copyright {
        text-align: start;
    }

    #product-details {
        display: flex;
        flex-direction: column;
    }

    #product-details .product-img {
        width: 100%;
        margin: 0px;
    }

    #product-details .product-info {
        width: 100%;
    }

    #about-cont img {
        width: 100%;
        height: 45vh;
    }

    #about-cont div {
        padding-left: 0;
        width: 100%;
        text-align: center;
        margin: auto;
    }

    .contact-form input {
        width: 90%;
    }
}